{
  "presets": ["next/babel"],
  "plugins": [
    "effector/babel-plugin",
    "inline-react-svg",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
